<% if flash[:notice] || flash[:error] || flash[:alert]%>
  <div>
    <p class="alert alert-dismissible alert-success"><%= flash[:notice] %></p>
    <p class="alert alert-dismissible alert-danger"><%= flash[:error] %></p>
    <p class="alert alert-dismissible alert-warning"><%= flash[:alert] %></p>
  </div>
<% end %>